*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #faf0dc;
    position: relative;
}


.main{
    display: flex;
    flex-direction: row;
    margin: 5vw 0 2vw 0;
    height:34vw;
    width:90vw;
}
.welcome-message{
    width:45vw;
    margin-left:8vw;
}
.home-images{
    width:60vw;
    height:30vw;
    margin-bottom: 5vw;
    position: relative;
}
.montenegro{
    background-color: #C52126;
    border-radius: 50%;
    padding:0.3vw 0.8vw;
    width:8vw;
    position: absolute;
    bottom:-4vw;
    right:-4vw;
}
.population{
    
    width:100%;
    height:100%;
}
.above-title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.7vw;
}
.title{
    font-family: 'Merriweather', serif;
    font-size: 3.5vw;
    font-weight: 700;
    font-style: normal;
    
}

.text{
    font-family: 'Merriweather', serif;
    font-size: 1.5vw;
    font-weight: 400;
    font-style: italic;
    width:40vw;

}
button{
    font-size: 1.5vw;
    width:10vw;
    padding: 1vw;
    margin:2vw 5vw 2vw 0;
    background-color: #C7d0d8;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: italic;
}
.admin-form{
    position: absolute;
    background-color: #faf0dc;
    border: 1px solid black;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merriweather', serif;
    z-index: 2;
    font-size: 2vw;
}
.admin-form > form{    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    padding: 5vw 5vw 2vw 5vw;
    
}

.admin-inp{
    width: 100%;
    height: 3vw;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}
.btn{
    
    padding: 0;
    margin: 0;
}
.admin-form-close{
    position: absolute;
    width: 3vw;
    height: 3vw;
    line-height: 2.8vw;
    top: 5px;
    right: 5px;
    background-color: rgb(197, 33, 38);
    color: white;
    
}

.admin-submit-btn{
    margin-left: 2vw;
    height: 4vw;
    font-size: 1.5vw;
    font-family: 'Merriweather', serif;
    background-color: #C7d0d8;
    font-weight: 400;
    font-style: italic;
}
.form-mask{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.651);
}
.bad-input{
    color: rgb(197, 33, 38);
    text-align: center;
    font-size: 2vw;
    margin-bottom: -2vw;
}
.hidden{
    display: none;
}
@media screen and (min-width: 678px) and (max-width:1200px){
    .main{
        height: 80vh;
        margin-top:10vw;
        
    }
}
@media screen and (max-width: 678px){
    .admin-form > form{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .admin-inp{
        height: 4vw;
        width: 100%;
        font-size: 2vw;
    }
    .admin-form-close{
        width: 20px;
        height: 20px;
        font-size: 10px;
    }
    .admin-submit-btn{
        margin-left: 50%;
        transform: translateX(-50%);
        height: 6vw;
    }
    .bad-input{
        padding-top: 20px;
    }
    
    .main{
        flex-direction: column;
        height:90vh;
    }
    .welcome-message{
        margin:10vh auto;
        transform: scale(1.1);
        height:20vh;
        padding: auto;
    }
    .home-images{
        margin:2vw auto;
        height:40vw;
        padding: auto;
    }
    
}
@media screen and (max-width: 500px){
    .main{
        height:80vh;
    }
    .welcome-message{
        
        transform: scale(1.4);
        
    }
    .home-images{
        
        transform: scale(1.15);
        
    }
}
@media screen and (max-width: 400px){

    .welcome-message{
        
        transform: scale(1.6);
        
    }
    .home-images{
        
        transform: scale(1.35);
        
    }
}

@media screen and (max-width: 250px){
    .admin-form-close{
        width: 10px;
        height: 10px;
        font-size: 5px;
    }
    .bad-input{
        padding-top: 12px;
    }

}
