* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    border: 3vw solid #faf0dc;
    background-color: #0B4141;
}

h1 {
    color: #faf0dc;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 3vw;
}

h3 {
    color: #C52126;
    text-align: center;
    font-size: 2vw;
    margin-bottom: 0;
}

.man {
    width: 17vw;
    position: absolute;
    top: 4vw;
    right: 5vw;
}

p {
    font-size: 1.8vw;
    text-align: end;
    font-style: italic;
    font-weight: 400;
    width: 50vw;
    margin: 5vw 0 5vw 20vw;
    color: #faf0dc;
}

button {
    font-size: 1.2vw;
    width: 18vw;
    height: 5vw;
    padding: 1.5vw;
    margin: 0 14vw 2vw;
    background-color: #C7d0d8;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: italic;
    outline: none;
}

.time-left {
    margin-top: 0;
}

.dom-form-div {
    background-color: #faf0dc;
    width: 40vw;
    position: absolute;
    top: 10vw;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    border-radius: 15px;
    height: fit-content;
    z-index: 2;
}

.dom-form {
    width: 100%;
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.num-of-fields-div {
    width: 22vw;
    font-size: 2vw;
}

.num-of-fields {
    width: 7vw;
    height: 2vw;
    font-size: 1.5vw;
}

.submit-dom {
    margin-top: 0.8vw;
}

.jmbg-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1vw;
}

.box {
    margin: 0.6vw;
}

.btn-close {
    width: 3vw;
    height: 3vw;
    color: white;
    background-color: red;
    border-radius: 15vw;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.mask {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.568);
}

.hidden {
    display: none;
}

.warning::placeholder {
    color: red;
}

.submit-ind {
    margin-top: 2vw;
}

.jmbg {
    margin-top: 2vw;
}

.html-error {
    background-color: red;
    width: 60vw;
    font-size: 1.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border: 1px solid black;
    border-radius: 10px;
    height: fit-content;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    color: #faf0dc;
    padding-left: 1vw;
}

.html-error a {
    color: black;
}

.err-btn {
    background-color: #faf0dc;
    color: black;
}

@media screen and (max-width: 678px) {
    .man {
        display: none;
    }
    body {
        background-image: url("man.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .text {
        color: black;
        
    
    }
    button {
        font-size: 1.5vw;
        padding: 0;
        height: 7vw;
    }
    h3 {
        padding-top: 0.5vw;
    }
    .btn-close {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }
    .dom-form-div {
        width: 60vw;
    }
    .num-of-fields-div {
        height: 4vw;
        width: 40%;
    }
    .num-of-fields {
        width: 8vw;
        height: 4vw;
        font-size: 2vw;
    }
}

@media screen and (max-width: 444px) {
    body {
        background-size: contain;
    }
    .text {
        font-size: 3vw;
        width:80vw;
        margin: 3vw auto;
    }
    p {
        text-align: center;
        width: 100%;
        margin: 5vw 0 5vw;
    }
    button {
        width: 26vw;
        margin: 88vw 10vw 2vw;
        height: 13vw;
        font-size: 2vw;
    }
    .dom-form-div {
        width: 80vw;
    }
    .num-of-fields-div {
        height: 7vw;
        width: 60%;
    }
    .num-of-fields {
        width: 14vw;
        height: 7vw;
        font-size: 3vw;
    }
    .num-of-fields-label {
        font-size: 4vw;
    }
    .jmbg-cont {
        margin-top: 3vw;
        grid-template-columns: 1fr;
    }
    .box {
        width: 40vw;
        font-size: 3vw;
    }
    .html-error {
        width: 80vw;
        font-size: 3vw;
    }
}

@media screen and (max-width: 240px) {
    .jmbg {
        width: 60vw;
    }
}