*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 1px;
    background-color: #faf0dc;
    position: relative;
}


.main{
    display: flex;
    flex-direction: row;
    height:36vw;
    margin: 2vw 0 1vw 0;
}
.map{
    width:50vw;
}    
.map-image{
    width:42.25vw;
    
}
input[type='radio']{
    margin-top: 2vw;
}

.form{
    width:50vw;
    position: relative;
}
.people{
    position: absolute;
    right:0;
    bottom:0;
    width:30vw;
}
.form-part{
    border:.5vw solid #C7d0d8;
    padding: 2vw;
    width:40vw;
    height:15vw;
    font-size: 1.5vw;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    position: relative;
    top:1.5vw;
    bottom:2vw;
    left:2vw;
    right:2vw;
}  
  

    

h3{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-style: italic;
    color: #C52126;
}

.form-part{
    display:none;
}
.f1{
    display: block;
}


.tick{
    width:4vw;
    height:4vw;
    font-size: 2vw;
    position: absolute;
    bottom:14vw;
    right:6vw;
}
button{
    background-color: #0B4141;
    color:white;
    border-radius: 50%;
    padding:2px;
}
.back{
    width:3vw;
    height:3vw;
    border-radius: 0%;
    font-size: 1.5vw;
    position: absolute;
    bottom:15vw;
    left:2vw;
}

select{
    font-size:1.3vw;
    margin-left: .5vw;
}
.napomena{
    margin-top:2vw;
    margin-left:2vw;
    font-family: 'Merriweather', serif;
    font-size: 1vw;
}
.mask {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.modal-window{
    z-index: 3;
    position: fixed;
    top:5vw;
    left:5vw;
    bottom: 5vw;
    right:5vw;
    width:40vw;
    height:90vh;
    background-color: white;
    margin:auto;
    padding: 5vw;
    font-size: 2vw;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    background-color: #faf0dc;
    border:.5vw solid #0B4141;

}
.x{
    position: absolute;
    top:0;
    right:0;
    font-size: 1vw;
    width:3vw;
    height: 3vw;
    padding: .2vw;
    background-color: #C52126;
}
.submit{
    display:none;
    padding:1vw;
    border-radius:0.15vw;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#0B4141;
    box-shadow:inset 0 -0.6vw 0 -0.35vw rgba(255,255,255,0.3);
    text-align:center;
    position: absolute;
    bottom:0;
    right:32vw;
    z-index: 4;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  td {
    padding: 0.75rem;
    text-align: left;
    font-size: 1.8vw;
    border: 1px solid #eee;
  }
  tr:nth-child(odd) {
    background: #ccc;
  }
@media only screen and (max-width:678px){
    .main{
        display: grid;
        grid-template-areas: 'headline'
        'form'
        'image';
        width:100vw;
        
    }
    .people{
        display: none;
    }
    .map{
        width:80vw;
        grid-area: image;
        margin:10vw;
    }
    .map-image{
        width:80vw;
        margin-bottom:5vw;
        
    }
    h3{
        grid-area: headline;
        width:80vw;
        margin:10vw;
        font-size: 4vw;
    }
    form{
        grid-area: form;
        width:80vw;
        margin:10vw;
    }
    .form-part{
        border:.5vw solid #C7d0d8;
        padding: 2vw;
        width:80vw;
        height:30vw;
        font-size: 4vw;
    
        position: relative;
        top:1.5vw;
        left:0;
        right:0;
    }
    .napomena{
        font-size: 2.5vw;
        margin-top: -5vw;
        margin-left: 10vw;
        width:80vw;
    }
    .tick{
        font-size: 5vw;
        width:10vw;
        height: 10vw;
        bottom:5vw;
        right:-44vw;
    }
    .back{
        font-size: 3vw;
        width:6vw;
        height: 6vw;
        bottom:9vw;
        left:10vw;
    }
    footer{
        position: fixed;
        width:100%;
        bottom:0;
        height: 8vw;
    }
    
    select{
        font-size:4vw;
    }
    input[type='submit']{
        right:-30vw;
        bottom:-55vw;
        width:30vw;
        height:10vw;
        font-size: 2.5vw;
    }
    .x{
        width:8vw;
        height:8vw;
        font-size: 2.5vw;
    }
    .modal-window{
        width:80vw;
        height:70vh;
    }
    table{
        margin-top: 10vw;
    }
    td{
        font-size: 4vw;
    }
    .handle{
        height:80px;
    }
    
    
}

@media only screen and (min-width:678px) and (max-width:1100px){
    .main{
        height:80vh;
    }
    .map{
        transform: scale(1.3);
        
        
        margin:auto;

    }
    .people{
        transform: scale(1.3);
        bottom:7vw;
        right:10vw;
        
    }
    footer{
        position: fixed;
        width:100%;
        bottom:0;
        height: 8vw;
    }
    .tick{
        top:23vw;
    }
    .back{
        top:22.5vw;
    }

}
@media only screen and (min-width:750px) and (max-width:1100px){
    .back{
        top:21.5vw;
    }
}

@media only screen and (min-width:800px) and (max-width:1000px){
    .tick{
        top:20vw;
    }
    .back{
        top:20vw;
    }
}
@media only screen and (min-width:1000px) and (max-width:1100px){
    .back{
        top:19vw;
    }
}



